
.div{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.countDiv{
    padding: 10px;
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
height: 127px;
text-align: center;

}
.forBtn{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.btn{
    border: 2px solid white;
    border-radius: 25px;
    background-color: inherit;
    box-shadow: 0 0 15px #aea5a5;
    text-shadow:1px 1px 1px #ae9f9f;
    width: 150px;
    padding: 10px;
    margin: 5px;
    font-size: 24px;
}
.btn:hover{
    border: 2px solid #3cf1c7;

}
.btn:hover:disabled{
    border: 2px solid red;
}
.btn:active{
    box-shadow: 0 0 0 #aea5a5;
    text-shadow:1px 1px 1px #ae9f9f;

    padding: 8px;
    margin: 5px;
    font-size: 24px;
}